body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#a123 {
    color: aqua;
}

.language {
    color: green;
}

.subtitle {
    color: red;
    font-size: 50px;
}

p {
    color: blue;

}

.firstp {
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
}
.box-link {
    font-weight: 600;
    text-decoration: none;
    color: black;
}